// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$max-lied: #35234b;

$light-pink: #ff8484;
$pink: #d84c73;
$purple: #FDB631;
$dark-purple: #5c3b6f;
$gray-opacity: rgba(230, 230, 230, 0.8);
