<div class="container">
  <div class="search-bar">
    <input type="text" placeholder="Search for an item..">
  </div>
  <div class="cards">
    <% @items.each do |item| %>
      <%= link_to item_path(item), data: { target: "#brokenModal", toggle: "modal"
      } do  %>
        <div class="card">
          <div class="card-img" style="background-image: url(<%= item.photo %>)";></div>
          <div class="card-details">
            <div class="card-title"> <%= item.name %> </div>
            <div class="card-description"><%= item.description %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Replace unsplash url line 11 with item.photo in ruby code -->

<div class="modal fade" id="brokenModal" tabindex="-1" role="dialog" aria-labelledby="brokenModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content modal-style">
    </div>
  </div>
</div>
