<div class="container">

  <div class="tabs">
    <a class="tab active" href="/myitems">
      <p>My Items</p>
    </a>
    <a class="tab" href="/myrequests">
      <p>My requests</p>
    </a>
    <a class="tab" href="/requests">
      <p>Incoming Requests</p>
    </a>
    <a class="tab" href="#">
      <p>Complaints</p>
    </a>
  </div>

 <div class ="display-container">

  <% if @user_items.size == 0 %>
    <h3>Why are you here?! Go break something!</h3>
  <% else %>
    <% @user_items.each do |item| %>
      <ul class="list-inline">
        <li><%= item.name %></li>
        <li><%= item.description %></li>
        <li><%= item.level %></li>
        <li>$<%= item.price %></li>
      </ul>
    <% end %>
  <% end %>

</div>
