<div>
  <div class="item-image"></div>
  <div class="item-name">
    <h1 class="text-center"><%= @item.name %></h1>
  </div>
  <div class="item-description">
    <p><%= @item.description %></p>
  </div>
  <div class="cta">
    <p><%= link_to "RENT THIS ITEM",  new_item_request_path(@item), class: "btn" %></p>
  </div>
</div>
