.btn {
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin: 4px 2px;
  background-color: #35234b;
  border-radius: 0px;
  box-shadow: 10px 10px 0px 0px #5c3b6f;
  &:hover{
    color: #35234b;
    background-color: white;
  }
}
