.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5c3b6f;
  box-shadow: 0 0 8px rgba(0,0,0,0.2);
  margin-bottom: 8px;
  color: white;
}

// .flash a {
//   color: #0E0000;
// }

// .flash-signup {
//   border: 2px solid #1EDD88;
// }

.flash-signup a {
  color: #d84c73;
}


// #looser {
//   color: white;
//   font-weight: bold;
//   font-family:Freckle Face;
//   font-size:130%;
// }

.special-font {
  color: #d84c73;
  font-weight: bold;
  font-family:Freckle Face;
  font-size:130%;
  &:hover {
    color: white;
  }
}

