.navbar-brknstuff {
  position: fixed;
  top: 0;
  width: 100%;
  background: #d84c73;
  height: 120px;
  z-index: 1000;
  // padding: 20px 24px;
}

.navbar-brknstuff-title a {
  position: absolute;
  width: 278px;
  top: 20px;
  left: calc(50vw - 139px);
  font-family: 'Freckle Face', cursive;
  color: white;
  font-size: 60px;
  &:hover {
    color: #35234b;
  }
}

.add-item {
  position: absolute;
  top: 20px;
  left: 20px;
}

.right-button {
  position: absolute;
  top: 20px;
  right: 30px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.push-down {
  height: 120px;
}
