.search-bar {
  padding: 30px;
  text-align:center;
}

.search-bar input {
  padding: 12px;
  border-radius: 25px;
  border: solid;
  border-color: #35234b;
  border-width: 8px;
  outline : none;
  width: 100%;
}

::placeholder {
  color: #5c3b6f;
  text-decoration: none;
  opacity: 0.7;
}
